Código para leer archivos que contienen los datos históricos del 2023 del torneo.
El archivo Sub-14 a 18 tiene 3 hojas con las categorías, por eso tiene un flujo condicional el bloque de código para leer los dataFrames.

In [1]:
import os
import pandas as pd

In [2]:
path = "./Excel/"
dataframes = []
year = "2023"

In [3]:
for file in os.listdir(path):
    if file.endswith(".xlsx"):
        category = file.split(".")[0]

        pathFile = os.path.join(path, file)
        
        sheets = pd.ExcelFile(pathFile).sheet_names

        if len(sheets) == 1:
            df = pd.read_excel(pathFile, names=["nombre", "1", "2", "3", "4", "5", "6", "7", "8"], usecols="A, E:L", skiprows=5 , header=None)
            datos = pd.melt(df, id_vars=["nombre"], value_vars=["1", "2", "3", "4", "5", "6", "7", "8"], var_name="tournament", value_name="puntos")
            datos.drop(datos[datos["puntos"]=="A"].index, axis=0, inplace=True)
            datos["nombre"] = datos["nombre"].str.title()
            datos["category"] = file.split(".")[0]
            dataframes.append(datos)
        
        else:
            sheetsDataFrames = pd.read_excel(pathFile, names=["nombre", "1", "2", "3", "4", "5", "6", "7", "8"], usecols="A, F:M", skiprows=5 , header=None, sheet_name = None)
            for sheetName, dfSheet in sheetsDataFrames.items():
                datos = pd.melt(dfSheet, id_vars=["nombre"], value_vars=["1", "2", "3", "4", "5", "6", "7", "8"], var_name="tournament", value_name="puntos")
                datos.drop(datos[datos["puntos"]=="A"].index, axis=0, inplace=True)
                datos["nombre"] = datos["nombre"].str.title()
                datos["category"] = sheetName
                dataframes.append(datos)

In [4]:
df_concat = pd.concat(dataframes, ignore_index = True)
df_concat.head()

                      nombre tournament puntos category
0   Burgos Morales Sebastian          1      3    Sub-8
1  Cariqueo Aguayo Sebastian          1      0    Sub-8
2   Carvajal Solis Cristobal          1    3.5    Sub-8
3     Cordova Vallejos Tomas          1      2    Sub-8
4      Fuentes Olivares Alan          1      5    Sub-8

In [5]:
df_concat["year"] = "2023"
df_concat.tail()

                      nombre tournament puntos     category  year
766  Gutierrez Tapia Ignacio          5      2  SIN RANKING  2023
767       Guzman Mora Carlos          5      2  SIN RANKING  2023
768  Monsalve Hidalgo Yasmin          5    1.5  SIN RANKING  2023
769          Morales Agustin          5      2  SIN RANKING  2023
770     Ulloa Gayoso Eduardo          5    1.5  SIN RANKING  2023

In [6]:
df_concat.dropna(inplace=True)

In [7]:
df_concat.set_index("nombre", inplace = True)

In [8]:
df_concat.head()

                          tournament puntos category  year
nombre
Burgos Morales Sebastian           1      3    Sub-8  2023
Cariqueo Aguayo Sebastian          1      0    Sub-8  2023
Carvajal Solis Cristobal           1    3.5    Sub-8  2023
Cordova Vallejos Tomas             1      2    Sub-8  2023
Fuentes Olivares Alan              1      5    Sub-8  2023

In [12]:
outputName = f"ranking"+year+".csv"
df_concat.to_csv(outputName)